@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@125,619&display=swap");

body {
  background: rgb(39, 39, 39);
  overflow: hidden;
}

.App {
  border: 0px solid rgb(39, 39, 39);
  background: rgb(39, 39, 39);
  color: white;
  padding: 12px;
  width: calc(100vw -48px);
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  /* position: fixed; */
}

.BioContainer {
  /* overflow: hidden; */
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background: rgb(13, 13, 13);
  border-radius: 10px;
}

.BioContainer img {
  margin-top: -48px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 16px rgb(255, 255, 255);
  width: 100px;
  height: 100px;
}

.BioContainer > .name {
  font-family: "Encode Sans", sans-serif;
}

.LinkContainer {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 0px;

  /* mask fade distance, for use in mask calculations */
  --mask-height: 32px;

  /* If content exceeds height of container, overflow! */
  overflow-y: auto;

  /* Our height limit */
  height: calc(100vh - 300px);

  /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);

  /* Keep some space between content and scrollbar */

  /* The CSS mask */

  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(
    to bottom,
    transparent,
    black var(--mask-height),
    black calc(100% - var(--mask-height)),
    transparent
  );

  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(black, black);

  /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.LinkContainer::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.LinkContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.LinkItemContainer {
  background: rgb(13, 13, 13);
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 8px;
}

.LinkItemContainer img {
  margin-right: 10px;
  margin-left: 10px;
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.LinkItemContainer p {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  color: white;
  margin-left: 5px;
}
